main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.input-box {
  max-width: 400px; /* Adjust this value to your preference */
}


.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.icon-image-parent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-image {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.home-page {
  text-align: center;
  margin-top: 50px;
}

.home-image-container {
  margin-bottom: 30px;
}

.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional for rounded corners */
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.button-link {
  text-decoration: none;
}

.home-button {
  width: 90%; /* Adjust width as needed */
  margin: 0 auto; /* Center button in the grid cell */
}


